<!-- component -->
<template>
    <navbar-component></navbar-component>
    <loading-component :mes="refreshMes" v-if="isRefresh"></loading-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button class="btn btn-primary" style="margin-top: 7px;" v-link="{path: '/act'}">返回</button>
                        </div>
                        <div class="navbar-title" v-text="items.name"></div>
                        <div class="add-submit-btb">
                            <!--<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">刷新</button>-->
                            <button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">编辑</button>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: -15px;">
                    <button type="button" class="btn" v-for="item in childTab" :class="item.style" v-text="item.name" v-on:click="tabs($index)"></button>
                </div>
                <div class="panel panel-default" v-if="actDetailsShow == 0">
                    <div class="panel-body">
                        <div class="org-info-table">活动封面</div>
                        <div class="org-info-content">
                            <popover effect="scale" content="点击更改封面" placement="right" trigger="hover">
                                <img :src="items.headImage.url | imageFilter" v-on:click="editHeadImage(0)"/>
                            </popover>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">地址</div>
                        <div class="org-info-content">
                            {{items.address}}
                            <div>
                                <iframe src="../amap.html?address={{items.address}}" width="100%" height="300px" style="border-style: none"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">活动宣传图片</div>
                        <div class="org-info-content">
                            <div class="row org-image" v-for="item in items.images">
                                <i class="glyphicon glyphicon-remove delete-img-icon" v-on:click="showDeletePhoto(item)"></i>
                                <popover effect="scale" content="点击更改活动图片" placement="top" trigger="hover">
                                    <img :src="item.url" id="orgImg" v-on:click="editHeadImage(1, item.photoID)"/>
                                </popover>
                            </div>
                            <button class="btn-primary btn glyphicon glyphicon-plus" v-on:click="editHeadImage(2, null)">添加图片</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">联系电话</div>
                        <div class="org-info-content">{{items.phone}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">活动价格</div>
                        <div class="org-info-content">￥{{items.price}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">活动类型</div>
                        <div class="org-info-content">{{items.type | typeFilter}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">活动详情</div>
                        <div class="org-info-content">{{{items.desc}}}</div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">活动状态</div>
                        <div class="org-info-content">{{items.status | statusFilter}}</div>
                    </div>
                </div>
                <div class="panel panel-default" v-if="actDetailsShow == 1">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search" v-model="searchItem">
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem)">搜索</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>头像</th>
                                    <th>家长姓名</th>
                                    <th>性别</th>
                                    <th>出生年月</th>
                                    <th>家长手机</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items">
                                <td>{{$index}}</td>
                                <td><img class="my-header" src="../image/demo.jpg"></td>
                                <td>{{item.userID.name}}</td>
                                <td>
                                    <span v-if="item.userID.sex == 0">女</span>
                                    <span v-if="item.userID.sex == 1">男</span>
                                </td>
                                <td>{{item.userID.birthday | dateFilter}}</td>
                                <td>{{item.userID.phone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <p v-if="items.length == 0">没有数据了！</p>
                </div>
            </div>
        </div>
    </div>
    <modal :show.sync="showCustomModal" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>修改活动信息</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div class="form-group">
                    <label>活动名称</label>
                    <input type="text" class="form-control" v-model="items.name" />
                </div>
                <div class="form-group">
                    <label>地址：</label>
                    <input type="text" class="form-control" v-model="items.address" />
                </div>
                <div class="form-group">
                    <label>活动价格：</label>
                    <input type="text" class="form-control" v-model="items.price" />
                </div>
                <div class="form-group">
                    <label>活动类型：</label>
                    <select class="form-control" v-model="items.type">
                        <option v-bind:value="1">赛事</option>
                        <option v-bind:value="2">户外体验</option>
                        <option v-bind:value="3">商演</option>
                        <option v-bind:value="4">活动</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>联系人电话：</label>
                    <input type="text" class="form-control" v-model="items.phone" maxlength="11"/>
                </div>
                <div class="form-group">
                    <label>活动人口上限：</label>
                    <input type="number" class="form-control" v-model="items.number" />
                </div>
                <div class="form-group">
                    <label>活动截至日期：</label>
                    <input type="date" class="form-control" v-model="items.signUpTime" />
                </div>
                <div class="form-group">
                    <label>活动开始日期：</label>
                    <input type="date" class="form-control" v-model="items.startTime" />
                </div>
                <div class="form-group">
                    <label>活动结束日期：</label>
                    <input type="date" class="form-control" v-model="items.endTime" />
                </div>
                <div class="form-group">
                    <label>活动状态：</label>
                    <select v-model="items.status">
                        <option v-for="option in options" v-bind:value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>简介：</label>
                    <textarea class="form-control" rows="3" v-model="items.desc | descFilter"></textarea>
                </div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showCustomModal = false'>取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submit(items)">提 交</button>
        </div>
    </modal>
    <modal :show.sync="showHeaderModel" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>活动图片管理</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div id="isUploading" style="display: none;" class="alert alert-success" role="alert">上传中..</div>
                <input type="hidden" id="domain" v-bind:value="domain">
                <input type="hidden" id="uptoken" v-bind:value="token">
                <div id="newContainer">
                    <div class="form-group" v-if="isShowFiles == 0">
                        <label>上传活动封面：</label>
                        <a class="btn btn-default" href="#" role="button" id="headfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        &nbsp;&nbsp;&nbsp;<span v-text="imgName"></span>
                        <img :src="headImg" style="width: 100px"/>
                    </div>
                </div>
                <div id="editContainer">
                    <div class="form-group" v-if="isShowFiles == 1">
                        <label>更改活动图片：</label>
                        <a class="btn btn-default" href="#" role="button" id="pickfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        &nbsp;&nbsp;&nbsp;<span v-text="imgName"></span>
                        <img :src="headImg" style="width: 100px"/>
                    </div>
                </div>
                <div id="addContainer">
                    <div class="form-group" v-if="isShowFiles == 2">
                        <label>添加活动图片：</label>
                        <a class="btn btn-default" role="button" id="addfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="thumbnail-img-main">
                            <div class="thumbnail-img" v-for="itme in headImg">
                                <img :src="itme" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showHeaderModel = false'>取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submitEdit(isShowFiles, items, headImg)">提 交</button>
        </div>
    </modal>
    <modal :show.sync="showDeletedModel" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                删除图片
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            确定删除？
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showDeletedModel = false'>取消</button>
            <button type="button" class="btn btn-danger" v-on:click="deletedPhoto(deletePhotoItem)">删除</button>
        </div>
    </modal>
</template>

<!-- js -->
<script type="text/javascript" src="../src/activityDetails.js"></script>

<!-- css -->
<style lang="less" src="../style/activity.less" scoped></style>