<!-- component -->
<template>
    <navbar-component></navbar-component>
    <loading-component :mes="refreshMes" v-if="isRefresh"></loading-component>
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入活动名称.." v-model="searchItem">
                    </div>
                    <button type="button" class="btn btn-default" v-on:click="search(searchItem)">搜索</button>
                    <div class="add-submit-btb">
                        <button type="button" class="btn btn-danger" v-on:click="check()">添加</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>封面</th>
                            <th>标题</th>
                            <th>地址</th>
                            <th>联系电话</th>
                            <th>活动时间</th>
                            <th>价格</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in act.datas">
                            <td>{{$index}}</td>
                            <td><img class="my-header" :src="item.headImage.url"></td>
                            <td>{{item.name}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.startTime | dateFilter}}到{{item.endTime |dateFilter}}</td>
                            <td>￥{{item.price}}</td>
                            <td>
                                <p class="bg-danger act-status" v-if="item.status == 0">已下线</p>
                                <p class="bg-success act-status" v-if="item.status == 1">正在进行</p>
                                <p class="bg-info act-status" v-if="item.status == 2">报名中</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" v-link="{path: '/actDetails?activityID=' + item.activityID}">详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p v-if="notData">没有数据了！</p>
            <nav class="fenye-view" v-if="act.pageCount != 1">
                <ul class="pagination">
                    <li v-on:click="next('Previous', act )" v-if="act.page != 0">
                        <span>&laquo;</span>
                    </li>
                    <li class="disabled" v-if="act.page == 0">
                        <span>&laquo;</span>
                    </li>
                    <li :class="page.active" v-for="page in act.pageItem" v-on:click="next('pageNum', page.pageNum)">
                        <a href="#" v-text="page.pageNum + 1"></a>
                    </li>
                    <li v-on:click="next('Next', act )">
                        <span>&raquo;</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <modal :show.sync="showCustomModal" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>添加活动信息<span class="upload-rule">注：上传图片尺寸为宽：640像素，高：280像素</span></b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div id="isUploading" style="display: none;" class="alert alert-success" role="alert">上传中..</div>
                <input type="hidden" id="domain" v-bind:value="domain">
                <input type="hidden" id="uptoken" v-bind:value="token">
                <div class="form-group">
                    <label>活动名称 <span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.name" />
                </div>
                <div class="form-group">
                    <label>活动类型 <span class="bitian">*</span></label>
                    <select class="form-control" v-model="items.type">
                        <option v-bind:value="1">赛事</option>
                        <option v-bind:value="2">户外体验</option>
                        <option v-bind:value="3">商演</option>
                        <option v-bind:value="4">活动</option>
                    </select>
                </div>
                <div id="acTcontainer">
                    <div class="form-group">
                        <label>上传活动封面：<span class="bitian">*</span></label>
                        <a class="btn btn-default" href="#" role="button" id="acTheadfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="headimage-main">
                            <div class="headimage-image" v-html="headImg | imageFilter">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="acTfileContainer">
                    <div class="form-group">
                        <label>上传活动宣传图片：<span class="bitian">*</span></label>
                        <a class="btn btn-default" href="#" role="button" id="acTpickfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="thumbnail-img-main">
                            <div class="thumbnail-img" v-for="itme in imagesItem">
                                <img :src="itme" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>所在省份：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_province" name="s_province" v-model="items.province"></select>  
                </div>
                <div class="form-group">
                    <label>所在城市：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_city" name="s_city" v-model="items.city"></select>  
                </div>
                <div class="form-group">
                    <label>行政区域：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_county" name="s_county" v-model="items.county"></select>
                </div>
                <div class="form-group">
                    <label>详细地址：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.address" placeholder="活动举办所在街道，门牌号.."/>
                </div>
                <div class="form-group">
                    <label>活动价格：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.price" />
                </div>
                <div class="form-group">
                    <label>联系人电话：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.phone" maxlength="11"/>
                </div>
                <div class="form-group">
                    <label>活动人口上限：<span class="bitian">*</span></label>
                    <input type="number" class="form-control" v-model="items.number" />
                </div>
                <div class="form-group">
                    <label>活动截至日期：<span class="bitian">*</span></label>
                    <input type="date" class="form-control" v-model="items.signUpTime" />
                </div>
                <div class="form-group">
                    <label>活动开始日期：<span class="bitian">*</span></label>
                    <input type="date" class="form-control" v-model="items.startTime" />
                </div>
                <div class="form-group">
                    <label>活动结束日期：<span class="bitian">*</span></label>
                    <input type="date" class="form-control" v-model="items.endTime" />
                </div>
                <div class="form-group">
                    <label>简介：<span class="bitian">*</span></label>
                    <textarea class="form-control" rows="3" v-model="items.desc"></textarea>
                </div>
                <div class="rule-main"><span class="bitian">*</span>表示必填项</div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showCustomModal = false'>取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submit(items, headImg, imagesItem)">提 交</button>
        </div>
    </modal>
</template>

<!-- js -->
<script type="text/javascript" src="../src/activity.js"></script>

<!-- css -->
<style lang="less" src="../style/activity.less" scoped></style>