<template>
    <navbar-component></navbar-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style" v-on:click="link(item.link)">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button class="btn btn-default glyphicon glyphicon-menu-left" style="margin-top: 7px;" v-link="{path: '/'}">返回</button>
                        </div>
                        <div class="navbar-title" v-text="items.name"></div>
                        <!--<div class="add-submit-btb">-->
                            <!--&lt;!&ndash;<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">刷新</button>&ndash;&gt;-->
                            <!--<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">编辑</button>-->
                        <!--</div>-->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="panel panel-default" style="font-size: 15px;">
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">手机号：</span>{{items.phone}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">家庭住址：</span>{{items.address}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">客户类型：</span>{{items.typeID.name}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">来访途径：</span>{{items.fromID.name}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">跟踪状态：</span>{{items.status | statusFilter}}</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">紧急联系人：</span>{{items.emName}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">联系人电话：</span>{{items.emPhone}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">性别：</span>{{items.sex | sexFilter}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">出生日期：</span>{{items.birthday | dateFilter}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">工作类型：</span>{{items.jobType}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">职务：</span>{{items.job}}</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">咨询科目：</span>{{items.subject}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">学习目的：</span>{{items.objective}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">学习期望：</span>{{items.effect}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">接待老师：</span>{{items.rTeacher.name}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">接待日期：</span>{{items.rDate | dateFilter}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">试课老师：</span>{{items.teacher.name}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">备注：</span>{{items.desc}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- js -->
<script type="text/javascript" src="../src/customerDetails.js"></script>
<!-- css -->
<style lang="less" src="../style/home.less" scoped></style>