<!-- component -->
<template>
    <navbar-component></navbar-component>
    <loading-component :mes="refreshMes" v-if="isRefresh"></loading-component>
    <div class="container-fluid page-main">
        <div class="row">
            <!--<div class="col-sm-3 col-md-2 sidebar">-->
                <!--<ul class="nav nav-sidebar">-->
                    <!--<li v-for="item in tabItems" :class="item.style" v-on:click="tabs($index)">-->
                        <!--<a>{{item.name}}</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="main">
                <div class="table-responsive" v-if="isXueyuan == 0">
                    <form class="form-inline">
                        <div class="form-group">
                            <input  style="width: 190px;"
                                    type="text"
                                    class="form-control"
                                    placeholder="请输入姓名"
                                    v-model="searchItem"/>
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, isXueyuan)">搜索</button>
                        <div class="btn-main">
                            <button type="button" class="btn btn-default glyphicon glyphicon-refresh" v-on:click="refresh(isXueyuan)"></button>
                        </div>
                    </form>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>头像</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>出生年月</th>
                            <th>手机号码</th>
                            <th>地址</th>
                            <th>小朋友</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in customerItems.datas">
                            <td>{{$index + 1}}</td>
                            <td><img class="my-header" :src="item.headImage | imageFilter"></td>
                            <td v-text="item.name"></td>
                            <td>
                                <span v-if="item.sex == 1">男</span>
                                <span v-if="item.sex == 0">女</span>
                            </td>
                            <td v-text="item.birthday | dateFilter"></td>
                            <td v-text="item.phone"></td>
                            <td v-text="item.address"></td>
                            <td>
                                <span v-for="obj in item.children" v-text="obj.name" style="margin-right: 3px"></span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" v-link="{path: '/customerDetails?customerID=' + item.customerID}">详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" v-if="isXueyuan == 1">
                    <form class="form-inline">
                        <div class="form-group">
                            <input  style="width: 190px;"
                                    type="text"
                                    class="form-control"
                                    placeholder="请输入姓名"
                                    v-model="searchItem"/>
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, isXueyuan)">搜索</button>
                        <div class="btn-main">
                            <button type="button" class="btn btn-default glyphicon glyphicon-refresh" v-on:click="refresh(isXueyuan)"></button>
                        </div>
                    </form>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>头像</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>出生年月</th>
                            <th>家长</th>
                            <th>家庭手机号码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in customerItems.datas">
                            <td>{{$index + 1}}</td>
                            <td><img class="my-header" :src="item.headImage.url | imageFilter"></td>
                            <td>{{item.name}}</td>
                            <td>
                                <span v-if="item.sex == 0">女</span>
                                <span v-if="item.sex == 1">男</span>
                            </td>
                            <td>{{item.birthday | dateFilter}}</td>
                            <td>{{item.parent | nameFilter}}</td>
                            <td>{{item.parent | phoneFilter}}</td>
                            <td>
                                <button type="button" class="btn btn-info" v-link="{path: '/studentDetails?studentID=' + item.studentID}">详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav class="fenye-view" v-if="customerItems.pageCount != 1">
                    <ul class="pagination">
                        <li v-on:click="next('Previous', customerItems, isXueyuan )" v-if="customerItems.page != 0">
                            <span>&laquo;</span>
                        </li>
                        <li class="disabled" v-if="customerItems.page == 0">
                            <span>&laquo;</span>
                        </li>
                        <li :class="page.active" v-for="page in customerItems.pageItem" v-on:click="next('pageNum', page.pageNum, isXueyuan)">
                            <a href="#" v-text="page.pageNum + 1"></a>
                        </li>
                        <li v-on:click="next('Next', customerItems, isXueyuan )">
                            <span>&raquo;</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<!-- js -->
<script type="text/javascript" src="../src/home.js"></script>

<!-- css -->
<style lang="less" src="../style/home.less" scoped></style>