<!-- component -->
<template>
<navbar-component></navbar-component>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">登 录</h2>
            <label class="sr-only">账户</label>
            <input type="text" class="form-control" placeholder="请输入您的账户"  v-model="item.name">
            <label class="sr-only">密码</label>
            <input type="password" class="form-control" placeholder="请输入您的密码" v-model="item.pwd">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">记住密码
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="login(item)">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        </form>
        <div class="alert alert-danger error-alert" role="alert" v-if="error">{{message}}</div>
    </div>
</template>

<!-- js -->
<script type="text/javascript" src="../src/login.js"></script>

<!-- css -->
<style lang="less" src="../style/login.less" scoped></style>