<!-- component -->
<template>
    <navbar-component></navbar-component>
    <loading-component :mes="refreshMes" v-if="isRefresh"></loading-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style" v-on:click="tabs($index)">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" v-if="isOrgList == 0">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入机构名称.." v-model="searchItem">
                    </div>
                    <button type="button" class="btn btn-default" v-on:click="search(searchItem, isOrgList)">搜索</button>
                    <div class="btn-main">
                        <button type="button" class="btn btn-default glyphicon glyphicon-refresh" v-on:click="refresh(isOrgList)"></button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>头像</th>
                            <th>机构名称</th>
                            <th>登录账号</th>
                            <th>联系人</th>
                            <th>联系人电话</th>
                            <th>教龄</th>
                            <th>客户</th>
                            <th>学员</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in orgItems.datas">
                            <td>{{$index + 1}}</td>
                            <td>
                                <img class="my-header" :src="item.headImage.url | imgFilter" v-if="item.headImage != null" />
                                <img class="my-header" :src="defaultImg | imgFilter" v-else />
                            </td>
                            <td class="org-name" v-text="item.name"></td>
                            <td v-text="item.account"></td>
                            <td v-text="item.contact"></td>
                            <td v-text="item.phone"></td>
                            <td>{{item.orgAge}}年</td>
                            <td>{{item.customers}}人</td>
                            <td>{{item.students}}人</td>
                            <td>
                                <button type="button" class="btn btn-warning" v-on:click="showChangePwd(item)">修改密码</button>
                                <button type="button" class="btn btn-info" v-link="{path: '/orgDetails?orgID=' + item.orgID}">详情</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" v-if="isOrgList == 1">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>机构名称</th>
                            <th>联系人</th>
                            <th>登录账号</th>
                            <th>联系人电话</th>
                            <th>申请日期</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in orgItems.datas">
                            <td>{{$index + 1}}</td>
                            <td v-text="item.name"></td>
                            <td v-text="item.contact"></td>
                            <td v-text="item.account"></td>
                            <td v-text="item.phone"></td>
                            <td v-text="item.createDate | dateFilter"></td>
                            <td>
                                <p class="bg-danger" v-if="item.status == 0">待审核</p>
                                <p class="bg-success" v-if="item.status == 1">已审核</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" v-if="item.status == 0" v-on:click="check(item)">审核</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<p v-if="orgItems.datas.length == 0 || orgItems.datas.length === undefined">没有数据了！</p>-->
            <nav class="fenye-view" v-if="orgItems.pageCount != 1">
                <ul class="pagination">
                    <li v-on:click="next('Previous', orgItems, isOrgList )" v-if="orgItems.page != 0">
                        <span>&laquo;</span>
                    </li>
                    <li class="disabled" v-if="orgItems.page == 0">
                        <span>&laquo;</span>
                    </li>
                    <li :class="page.active" v-for="page in orgItems.pageItem" v-on:click="next('pageNum', page.pageNum, isOrgList)">
                        <a v-text="page.pageNum + 1"></a>
                    </li>
                    <li v-on:click="next('Next', orgItems, isOrgList )">
                        <span>&raquo;</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <modal :show.sync="checkModal" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>审核机构</b><span class="upload-rule">注：上传图片尺寸为宽：640像素，高：280像素</span>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div id="isUploading" style="display: none;" class="alert alert-success" role="alert">上传中..</div>
                <input type="hidden" id="domain" v-bind:value="domain">
                <input type="hidden" id="uptoken" v-bind:value="token">
                <div class="form-group">
                    <label>机构名称<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="checkModalItem.name" disabled v-if="!isAddOrg"/>
                    <input type="text" class="form-control" v-model="checkModalItem.name" v-if="isAddOrg"/>
                </div>
                <div class="form-group">
                    <label>是否为棒棒堂所属机构<span class="bitian">*</span></label>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" v-model="checkModalItem.inside">
                            是
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" value="0" v-model="checkModalItem.inside">
                            否
                        </label>
                    </div>
                </div>
                <div id="container">
                    <div class="form-group" style="position: relative">
                        <label>上传封面<span class="bitian">*</span></label>
                        <a class="btn btn-default" href="#" role="button" id="headfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="headimage-main">
                            <div class="headimage-image" v-html="headImg | imageFilter">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="fileContainner">
                    <div class="form-group">
                        <label>上传图片组：<span class="bitian">*</span></label>
                        <a class="btn btn-default" href="#" role="button" id="pickfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="thumbnail-img-main">
                            <div class="thumbnail-img" v-for="itme in imagesItem">
                                <img :src="itme | imgFilter" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>所在省份：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_province" name="s_province" v-model="checkModalItem.province"></select>  
                </div>
                <div class="form-group">
                    <label>所在城市：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_city" name="s_city" v-model="checkModalItem.city"></select>  
                </div>
                <div class="form-group">
                    <label>行政区域：<span class="bitian">*</span></label>
                    <select class="form-control" id="s_county" name="s_county" v-model="checkModalItem.county"></select>
                </div>
                <div class="form-group">
                    <label>详细地址：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="checkModalItem.address" placeholder="机构所在街道，门牌号.."/>
                </div>
                <div class="form-group">
                    <label>联系人：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="checkModalItem.contact" />
                </div>
                <div class="form-group">
                    <label>联系人电话：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="checkModalItem.phone" maxlength="11"/>
                </div>
                <div class="form-group">
                    <label>登录密码：<span class="bitian">*</span></label>
                    <input type="password" class="form-control" v-model="checkModalItem.password" />
                </div>
                <div class="form-group">
                    <label>机构年限：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="checkModalItem.orgAge" maxlength="2"/>
                </div>
                <div class="form-group">
                    <label>简介：<span class="bitian">*</span></label>
                    <textarea id="text1" class="form-control" rows="3" v-model="checkModalItem.desc"></textarea>
                </div>
                <div class="rule-main"><span class="bitian">*</span>表示必填项</div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" v-on:click="cancel();">取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submit(checkModalItem, headImg, imagesItem, isOrgList)">提 交</button>
        </div>
    </modal>
    <modal :show.sync="changPwdModal" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>修改密码</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div class="form-group">
                    <label>修改密码：</label>
                    <input type="password" class="form-control" v-model="changePwdItem.newPwd"/>
                </div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click="changPwdModal = false">取 消</button>
            <button type="button" class="btn btn-success" v-on:click="changePwd(changePwdItem)">提 交</button>
        </div>
    </modal>
</template>

<!-- js -->
<script type="text/javascript" src="../src/organization.js"></script>

<!-- css -->
<style lang="less" src="../style/organization.less" scoped></style>