<!-- component -->
<template>
    <navbar-component></navbar-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style" v-on:click="link(item.link)">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button class="btn btn-default glyphicon glyphicon-menu-left" style="margin-top: 7px;" v-link="{path: '/org'}">返回</button>
                        </div>
                        <div class="navbar-title" v-text="items.name"></div>
                        <div class="add-submit-btb">
                            <!--<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">刷新</button>-->
                            <button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">编辑</button>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: -15px;">
                    <button type="button" class="btn" v-for="item in childTab" :class="item.style" v-text="item.name" v-on:click="tabs($index)"></button>
                </div>
                <div class="panel panel-default" v-if="orgDetailsShow == 0">
                    <div class="panel-body">
                        <div class="org-info-table">机构封面</div>
                        <div class="upload-rule">注：上传图片尺寸为宽：640像素，高：280像素</div>
                        <div class="org-info-content">
                            <popover effect="scale" content="点击更改封面" placement="right" trigger="hover">
                                <img :src="items.headImage.url | imageFilter" v-on:click="editHeadImage(0)"/>
                            </popover>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">是否为棒棒堂所属机构</div>
                        <div class="org-info-content">
                            <span v-if="items.inside == 0">否</span>
                            <span v-if="items.inside == 1">是</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">地址</div>
                        <div class="org-info-content">
                            {{items.address}}
                            <div>
                                <iframe src="../amap.html?address={{items.address}}" width="100%" height="300px" style="border-style: none"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">机构图片</div>
                        <div class="org-info-content">
                            <div class="row org-image" v-for="item in items.images">
                                <i class="glyphicon glyphicon-remove delete-img-icon" v-on:click="showDeletePhoto(item)"></i>
                                <popover effect="scale" content="点击更改机构图片" placement="top" trigger="hover">
                                    <img :src="item.url"
                                         id="orgImg"
                                         v-on:click="editHeadImage(1, item.photoID)"/>
                                </popover>
                            </div>
                            <button class="btn-primary btn glyphicon glyphicon-plus" v-on:click="editHeadImage(2, null)">添加图片</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">机构联系人</div>
                        <div class="org-info-content" v-text="items.contact"></div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">联系人电话</div>
                        <div class="org-info-content" v-text="items.phone"></div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">机构年限</div>
                        <div class="org-info-content">{{items.orgAge}}年</div>
                    </div>
                    <div class="panel-body">
                        <div class="org-info-table">机构简介</div>
                        <div class="org-info-content">{{{items.desc}}}</div>
                    </div>
                </div>
                <div class="panel panel-default" v-if="orgDetailsShow == 1">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入内容.." v-model="searchItem">
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, orgDetailsShow)">搜索</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>封面</th>
                                <th>标题</th>
                                <th>类型</th>
                                <th>授课时间</th>
                                <th>任务老师</th>
                                <th>价格</th>
                                <th>课时</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items.datas">
                                <td>{{$index}}</td>
                                <td><img class="my-header" :src="item.headImage.url"></td>
                                <td v-text="item.name"></td>
                                <td v-text="item.type.name"></td>
                                <td v-text="item.startDate | dateFilter"></td>
                                <td v-text="item.teacher.name"></td>
                                <td>￥{{item.price}}</td>
                                <td v-text="item.time"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="notData">没有数据了！</p>
                    </div>
                </div>
                <div class="panel panel-default" v-if="orgDetailsShow == 2">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入内容.." v-model="searchItem">
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, orgDetailsShow)">搜索</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>姓名</th>
                                <!--<th>性别</th>-->
                                <!--<th>出生年月</th>-->
                                <th>教龄</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items.datas">
                                <td>{{$index}}</td>
                                <td><img class="my-header" :src="item.headImage.url"></td>
                                <td v-text="item.name"></td>
                                <!--<td>男</td>-->
                                <!--<td>1989-01-11</td>-->
                                <td>{{item.teachingAges}}年</td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="notData">没有数据了！</p>
                    </div>
                </div>
                <div class="panel panel-default" v-if="orgDetailsShow == 3">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入内容.." v-model="searchItem">
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, orgDetailsShow)">搜索</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>出生年月</th>
                                <th>手机号码</th>
                                <th>地址</th>
                                <th>小朋友</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items.datas">
                                <td>{{$index}}</td>
                                <td><img class="my-header" :src="item.headImage.url"></td>
                                <td>{{item.name}}</td>
                                <td>
                                    <span v-if="item.sex == 0">女</span>
                                    <span v-if="item.sex == 1">男</span>
                                </td>
                                <td>{{item.birthday | dateFilter}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.address}}</td>
                                <td><span style="margin-right: 2px;" v-for="obj in item.children">{{obj.name}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="notData">没有数据了！</p>
                    </div>
                </div>
                <div class="panel panel-default" v-if="orgDetailsShow == 4">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入内容.." v-model="searchItem">
                        </div>
                        <button type="button" class="btn btn-default" v-on:click="search(searchItem, orgDetailsShow)">搜索</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>头像</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>出生年月</th>
                                <th>家长</th>
                                <th>家长手机号码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in items.datas">
                                <td>{{$index}}</td>
                                <td><img class="my-header" :src="item.headImage.url"></td>
                                <td>{{item.name}}</td>
                                <td>
                                    <span v-if="item.sex == 0">女</span>
                                    <span v-if="item.sex == 1">男</span>
                                </td>
                                <td>{{item.birthday | dateFilter}}</td>
                                <td>{{item.parent.name}}</td>
                                <td>{{item.parent.phone}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="notData">没有数据了！</p>
                    </div>
                </div>
                <!--<p v-if="items.datas.length == 0">没有数据了！</p>-->
                <nav class="fenye-view" v-if="items.pageCount != 1 && orgDetailsShow != 0">
                    <ul class="pagination">
                        <li v-on:click="next('Previous', items, orgDetailsShow)" v-if="items.page != 0">
                            <span>&laquo;</span>
                        </li>
                        <li class="disabled" v-if="items.page == 0">
                            <span>&laquo;</span>
                        </li>
                        <li :class="page.active" v-for="page in items.pageItem" v-on:click="next('pageNum', page.pageNum, orgDetailsShow)">
                            <a href="#" v-text="page.pageNum + 1"></a>
                        </li>
                        <li v-on:click="next('Next', items, orgDetailsShow )">
                            <span>&raquo;</span>
                        </li>
                    </ul>
                </nav>
            </div>
            </div>
        </div>
    </div>
    <modal :show.sync="showCustomModal" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>修改机构</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div class="form-group">
                    <label>机构名称<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.name" />
                </div>
                <div class="form-group">
                    <label>是否为棒棒堂所属机构<span class="bitian">*</span></label>
                    <div class="radio">
                        <label>
                            <input type="radio" value="1" v-model="items.inside">
                            是
                        </label>
                    </div>
                    <div class="radio disabled">
                        <label>
                            <input type="radio" value="0" v-model="items.inside">
                            否
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>地址：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.address" />
                </div>
                <div class="form-group">
                    <label>联系人：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.contact" />
                </div>
                <div class="form-group">
                    <label>联系人电话：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.phone" maxlength="11"/>
                </div>
                <div class="form-group">
                    <label>机构年限：<span class="bitian">*</span></label>
                    <input type="text" class="form-control" v-model="items.orgAge" maxlength="2"/>
                </div>
                <div class="form-group">
                    <label>简介：<span class="bitian">*</span></label>
                    <textarea class="form-control" rows="3" v-model="items.desc | descFilter"></textarea>
                </div>
                <div class="rule-main"><span class="bitian">*</span>表示必填项</div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showCustomModal = false'>取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submit(items)">提 交</button>
        </div>
    </modal>
    <modal :show.sync="showHeaderModel" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                <b>机构图片管理</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body setting-modal">
            <form>
                <div id="isUploading" style="display: none;" class="alert alert-success" role="alert">上传中..</div>
                <input type="hidden" id="domain" v-bind:value="domain">
                <input type="hidden" id="uptoken" v-bind:value="token">
                <div id="newContainer">
                    <div class="form-group" v-if="isShowFiles == 0">
                        <label>上传新机构封面：</label>
                        <a class="btn btn-default" href="#" role="button" id="headfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        &nbsp;&nbsp;&nbsp;<span v-text="imgName"></span>
                        <img :src="headImg" style="width: 100px"/>
                    </div>
                </div>
                <div id="editContainer">
                    <div class="form-group" v-if="isShowFiles == 1">
                        <label>更改机构图片：</label>
                        <a class="btn btn-default" href="#" role="button" id="pickfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        &nbsp;&nbsp;&nbsp;<span v-text="imgName"></span>
                        <img :src="headImg" style="width: 100px"/>
                    </div>
                </div>
                <div id="addContainer">
                    <div class="form-group" v-if="isShowFiles == 2">
                        <label>添加机构图片：</label>
                        <a class="btn btn-default" role="button" id="addfiles">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>选择文件</span>
                        </a>
                        <div class="thumbnail-img-main">
                            <div class="thumbnail-img" v-for="itme in headImg">
                                <img :src="itme" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showHeaderModel = false'>取 消</button>
            <button type="button" class="btn btn-success" v-on:click="submitEdit(isShowFiles, items, headImg)">提 交</button>
        </div>
    </modal>
    <modal :show.sync="showDeletedModel" effect="fade" width="400">
        <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
                删除图片
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            确定删除？
        </div>
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click='showDeletedModel = false'>取消</button>
            <button type="button" class="btn btn-danger" v-on:click="deletedPhoto(deletePhotoItem)">删除</button>
        </div>
    </modal>
</template>

<!-- js -->
<script type="text/javascript" src="../src/organizationDetails.js"></script>

<!-- css -->
<style lang="less" src="../style/organization.less" scoped></style>