<!-- component -->
<template>
    <navbar-component></navbar-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style" v-on:click="tabs($index)">
                        <a>{{item.name}}</a>
                    </li>
                    <li v-on:click="logout()">
                        <a>退出登录</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive" v-if="settingShow == 0">
                    <button class="btn btn-danger" type="button" v-on:click="addUser()">添 加</button>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>账户</th>
                            <th>角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in user">
                            <td>{{$index}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.userID}}</td>
                            <td>
                                <span v-if="item.role == 0">超级管理员</span>
                                <span v-if="item.role == 1">管理员</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning" v-on:click="editPwd(item)">修改密码</button>
                                <button type="button" class="btn btn-info" v-on:click="edit(item)">编辑</button>
                                <button type="button" class="btn btn-danger" v-on:click="deleteUser(item)">删除</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <modal :show.sync="smallModal">
                        <div slot="modal-body" class="modal-body">确定删除{{editItem.name}}账户吗？</div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='smallModal = false'>取消</button>
                            <button type="button" class="btn btn-success" v-on:click="submit(editItem)">确定</button>
                        </div>
                    </modal>
                    <modal :show.sync="showModal" effect="fade" width="400">
                        <div slot="modal-header" class="modal-header">
                            <h4 class="modal-title">
                                用户管理
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body setting-modal">
                            <form>
                                <div class="form-group">
                                    <label>姓名</label>
                                    <input type="text" class="form-control" placeholder="姓名" v-model="editItem.name">
                                </div>
                                <div class="form-group">
                                    <label>帐户</label>
                                    <input type="text" class="form-control" placeholder="账户" v-model="editItem.userID">
                                </div>
                                <div class="form-group" v-if="!isEdit">
                                    <label>密码</label>
                                    <input type="password" class="form-control" placeholder="登录密码" v-model="editItem.password">
                                </div>
                                <div class="form-group" v-if="!isEdit">
                                    <label>确认密码</label>
                                    <input type="password" class="form-control" placeholder="请确认密码" v-model="editItem.confirmPwd">
                                </div>
                                <!--<div class="form-group" v-if="isEdit">-->
                                    <!--<label>原始密码</label>-->
                                    <!--<input type="password" class="form-control" placeholder="原始密码" v-model="editItem.oldPwd">-->
                                <!--</div>-->
                                <!--<div class="form-group" v-if="isEdit">-->
                                    <!--<label>新密码</label>-->
                                    <!--<input type="password" class="form-control" placeholder="新密码" v-model="editItem.newPwd">-->
                                <!--</div>-->
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value=0 v-model="editItem.role">
                                        超级管理员
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value=1 v-model="editItem.role">
                                        普通管理员
                                    </label>
                                </div>
                            </form>
                            <div class="alert alert-danger" role="alert" v-if="editItem.password != editItem.confirmPwd">两次输入密码不一致</div>
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='showModal = false'>取 消</button>
                            <button type="button" class="btn btn-success" v-on:click="save(editItem, isEdit)">保 存</button>
                        </div>
                    </modal>
                    <modal :show.sync="showPwdModal" effect="fade" width="400">
                        <div slot="modal-header" class="modal-header">
                            <h4 class="modal-title">
                                用户{{editItem.name}}
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body setting-modal">
                            <form>
                                <div class="form-group">
                                <label>原始密码</label>
                                <input type="password" class="form-control" placeholder="原始密码" v-model="editItem.oldPwd">
                                </div>
                                <div class="form-group">
                                <label>新密码</label>
                                <input type="password" class="form-control" placeholder="新密码" v-model="editItem.newPwd">
                                </div>
                            </form>
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='showPwdModal = false'>取 消</button>
                            <button type="button" class="btn btn-success" v-on:click="savePwd(editItem)">保 存</button>
                        </div>
                    </modal>
                </div>
                <div class="row" v-if="settingShow == 1">
                    <div class="col-md-6">
                        <div class="panel-course-view" v-for="item in courseTypeItem">
                            <div class="panel-course-typename">
                                <span v-on:click="showChild($index)">
                                    <i class="glyphicon course-menu-icon" :class="item.class"></i>{{item.name}}
                                </span>
                                <span v-on:click="editType(item)">编辑</span>
                            </div>
                            <ul class="panel-table-view" v-if="item.childShow">
                                <li class="panel-table-cell" v-for="obj in item.child">
                                    <div>{{obj.name}}</div>
                                    <span v-on:click="editType(obj)">编辑</span>
                                    <span v-on:click="deleteShowModal(obj)">删除</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label>课程分类</label>
                                <input type="text" class="form-control" placeholder="课程分类" v-model="type.name">
                            </div>
                            <div class="form-group">
                                <label>所属级别</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value=1 v-model='type.rank'> 1级别
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value=2 v-model="type.rank"> 2级别
                                </label>
                            </div>
                            <div class="form-group" v-if="type.rank == 2">
                                <label>1级别</label>
                                <select class="form-control" v-model="type.typeID">
                                    <option v-for="option in courseTypeItem" v-bind:value="option._id">
                                        {{ option.name }}
                                    </option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default" v-on:click="addType(type)">提 交</button>
                            <button type="button" class="btn btn-default">取 消</button>
                        </form>
                    </div>
                    <modal :show.sync="showDeletedType" effect="fade" width="400">
                        <div slot="modal-header" class="modal-header">
                            <h4 class="modal-title">
                                删除课程分类
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body">
                            <div class="alert alert-warning alert-dismissible" v-if="alertShow">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>警告</strong>{{alertMSG}}
                            </div>
                            确定删除？
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='showDeletedType = false'>取消</button>
                            <button type="button" class="btn btn-danger" v-on:click="deleteType(deletedTypeItem._id, 1)">删除</button>
                        </div>
                    </modal>
                    <modal :show.sync="editTypeModal">
                        <div slot="modal-body" class="modal-body">
                            <div class="form-group">
                                <label>分类名称</label>
                                <input type="text" class="form-control" v-model="editTypeItem.name">
                            </div>
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='editTypeModal = false'>取消</button>
                            <button type="button" class="btn btn-success" v-on:click="editTypeSubmit(editTypeItem)">确定</button>
                        </div>
                    </modal>
                </div>
                <div class="table-responsive" v-if="settingShow == 2">
                    <button type="button" class="btn btn-danger" v-on:click="addWechatBanner()">添加</button>
                    <div class="upload-rule">注：上传图片尺寸为宽：640像素，高：280像素</div>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in banner">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 100px;" :src="item.image.url" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{item.name}}</h4>
                                    {{item.url}}
                                    <button type="button" class="btn btn-primary" v-on:click="editBanner(item)">编 辑</button>
                                    <button type="button" class="btn btn-danger" @click="showDeletedBanner(item)">删 除</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <modal :show.sync="showCustomModal" effect="fade" width="400">
                        <div slot="modal-header" class="modal-header">
                            <h4 class="modal-title">
                                上传微信广告
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body">
                            <form>
                                <div id="isUploading" style="display: none;" class="alert alert-success" role="alert">上传中..</div>
                                <input type="hidden" id="domain" v-bind:value="domain">
                                <input type="hidden" id="uptoken" v-bind:value="token">
                                <div class="form-group" id="container">
                                    <label>上传图片：</label>
                                    <a class="btn btn-default" href="#" role="button" id="pickfiles">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>选择文件</span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;<span v-text="imgName"></span>
                                </div>
                                <img :src="imgSrc" style="width: 100px;"/>
                                <div class="form-group">
                                    <label>名称：</label>
                                    <input type="url" class="form-control" v-model="bannerItem.name"/>
                                </div>
                                <div class="form-group">
                                    <label>链接：</label>
                                    <input type="url" class="form-control" v-model="bannerItem.url"/>
                                </div>
                                <div class="form-group">
                                    <label>排序:</label>
                                    <select class="form-control" v-model="bannerItem.number">
                                        <option v-for="obj in banner.length + 1" v-bind:value="$index + 1">{{$index + 1}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='showCustomModal = false'>取消</button>
                            <button type="button" class="btn btn-success" v-on:click="uploadSubmit(bannerItem, imgSrc)">提交</button>
                        </div>
                    </modal>
                    <modal :show.sync="showDeletedBannerModal" effect="fade" width="400">
                        <div slot="modal-header" class="modal-header">
                            <h4 class="modal-title">
                               删除微信广告
                            </h4>
                        </div>
                        <div slot="modal-body" class="modal-body">
                           确定删除？
                        </div>
                        <div slot="modal-footer" class="modal-footer">
                            <button type="button" class="btn btn-default" @click='showDeletedBannerModal = false'>取消</button>
                            <button type="button" class="btn btn-danger" v-on:click="deletedBanner(showDeletedBannerItem)">删除</button>
                        </div>
                    </modal>
                </div>
                <div class="table-responsive" v-if="settingShow == 3">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in wechatCourse" v-on:click="">
                           {{item.name}}
                            <span class="badge label-primary">排序号：
                                <select v-model="item.number" v-on:change="pageCourse(item)">
                                    <option v-for="obj in wechatCourse" v-bind:value="obj.number">{{obj.number}}</option>
                                </select>
                            </span>
                        </li>
                    </ul>
                    <div class="alert alert-info" role="alert" v-if="loadingHint">正在修改..</div>
                </div>
            </div>
        </div>
    </div>
    <hint-component :mes="textMSG" v-if="showHint"></hint-component>
</template>

<!-- js -->
<script type="text/javascript" src="../src/set.js"></script>

<!-- css -->
<style lang="less" src="../style/setting.less" scoped></style>