<!-- component -->
<template>
    <navbar-component></navbar-component>
</template>

<!-- js -->
<script type="text/javascript" src="../src/statistics.js"></script>

<!-- css -->
<style lang="less" src="../style/statistics.less" scoped></style>