<template>
    <navbar-component></navbar-component>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li v-for="item in tabItems" :class="item.style" v-on:click="link(item.link)">
                        <a>{{item.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button class="btn btn-default glyphicon glyphicon-menu-left" style="margin-top: 7px;" v-link="{path: '/'}">返回</button>
                        </div>
                        <div class="navbar-title" v-text="items.name"></div>
                        <!--<div class="add-submit-btb">-->
                            <!--&lt;!&ndash;<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">刷新</button>&ndash;&gt;-->
                            <!--<button class="btn btn-info" style="margin-top: 7px;" @click="showCustomModal = true">编辑</button>-->
                        <!--</div>-->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="panel panel-default" style="font-size: 15px;">
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">昵称：</span>{{items.nickname}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">性别：</span>{{items.sex | sexFilter}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">出生日期：</span>{{items.birthday | dateFilter}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">学校：</span>{{items.school}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">身高：</span>{{items.height}}cm</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">体重：</span>{{items.weight}}kg</p></div>
                            <div class="list-text-item"><p><span class="item-left">籍贯：</span>{{items.place}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">民族：</span>{{items.nation}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">身体状况：</span>{{items.bodyState}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">性格特点：</span>{{items.character}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">爱好：</span>{{items.hobby}}</p></div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-text-item"><p><span class="item-left">语言：</span>{{items.language}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">特长：</span>{{items.strength}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">学习经历：</span>{{items.learn}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">参赛经历：</span>{{items.game}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">获奖经历：</span>{{items.win}}</p></div>
                            <div class="list-text-item"><p><span class="item-left">备注：</span>{{items.desc}}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- js -->
<script type="text/javascript" src="../src/studentDetails.js"></script>
<!-- css -->
<style lang="less" src="../style/home.less" scoped></style>