@import "main";

.act-status{
  width: 90px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  height: 34px;
  padding: 7px 0;
}

.org-image{
  width: 25% !important;
  padding: 0 25px;
  position: relative;
  img{
    border-radius: 0;
  }
}