@import "dashboard.min.css";
@firstfontColor:#333333;
@secondfontColor:#9ca3a5;
@fontSizeS: 11px;
@fontSizeM: 13px;
@fontSizeL: 15px;

body{
  font-size: 13px !important;
}

a{
  cursor:pointer !important;
}

.mko-font-config(@fontSize: 14px, @fontColor: #333333){
  font-size: @fontSize;
  color: @fontColor;
}

.layout-float(@width, @float){
  width: @width;
  float: @float;
}

.border-bottom(@color: #e3e3e3){
  border-bottom: 1px solid @color;
}

.main{
  padding: 20px !important;
}

.my-header{
  width: 50px;
}

.org-info-table{
  .layout-float(20%, left);
}

.org-info-content{
  .layout-float(80%, right);
  div{
    .layout-float(100%, left);
    img{
      .layout-float(100%, left);
      height: 100px
    }
  }
}

.fenye-view{
  float: right;
  margin-right: 15px;
}

.add-submit-btb{
  width: 38%;
  float: right;
  text-align: right;
}

.font-color{
  color: #FFFFFF !important;
}

.error-alert{
  width: 300px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 322px;
  text-align: center;
}

.btn-main{
  width: 100px;
  float: right;
  text-align: right;
}

.hint-hide-main{
  width: 274px;
  border-radius: 9px;
  position: fixed;
  height: 60px;
  margin: AUTO;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: CENTER;
  background-color: #333333;
  z-index: 1055;
  opacity: .8;
  div{
    color: #ffffff;
    font-size: 18px;
    margin: 15px 0;
  }
}

.upload-rule{
  color: #F56C6C;
  font-size: 14px;
  margin-left: 14px;
}

.add-photo{

  span{

  }
}

.navbar-title{
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.navbar-default {
  background-color: #f8f8f8 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #e7e7e7 !important;
}

.navbar{
  border-radius: 0 !important;
}
.panel{
  border-radius: 0 !important;
  margin-top: -1px;
}

.thumbnail-img-main{
  width: 100%;
  float: left;
  height: 140px;
  margin: 15px 0 0 0;
}

.thumbnail-img{
  width: 25%;
  float: left;
  padding: 10px 15px;
  img{
    width: 100%;
    float: left;
    height: 100px;
  }
}

.headimage-main{
  width: 200px;
  position: absolute;
  height: 87px;
  right: 0;
  top: 0;
}

.headimage-image{
  width: 100%;
  img{
    width: 200px;
    height: 87px;
  }
  i{
    font-size: 113px !important;
  }
}

.rule-main{
  width: 100%;
  margin: 0 0 0 0;
}

.bitian{
  color: #d9534f;
}

.delete-img-icon{
  position: absolute;
  font-size: 19px;
  border: 2px solid #BD0505;
  border-radius: 50%;
  padding: 2px;
  top: -12px;
  left: 11px;
  color: #BD0505;
}

.page-main{
  padding-left: 180px;
}

.left-menu-main{
  position: fixed;
  left: 0;
  width: 90px;
  background: #2b2a30;
  color: #ffffff;
  height: 100%;
}

.left-menu-table{
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.left-menu-cell{
  font-size: 13px;
  width: 100%;
  float: left;
  height: 100px;
  text-align: center;
  i{
    font-size: 30px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 10px;
  }
}

.nav-logo{
  width: 45px;
  float: left;
  margin: 6px 0 0 7px;
}

.nav-select{
  float: right;
  color: #ffffff;
  height: 55px;
  background: #32303C;
  text-align: center;
  margin: 0 10px;
  padding: 0 23px 0 50px;
  position: relative;
  width: auto;
  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
  }
  span {
    width: 100%;
    float: left;
    height: 55px;
    text-align: center;
    padding: 19px 0;
  }
  i{
    position: absolute;
    margin: auto;
    width: 15px;
    height: 10px;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.navbar-form-main{
input{
  width: 250px;
  margin-top: 4px;
}
}