@import "main";

.org-image{
  width: 25% !important;
  padding: 0 25px;
  position: relative;
  img{
    border-radius: 0;
    border: 5px solid #f5f5f5;
  }
}

.org-name{
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  //width: 140px;
  //float: left;
}