@import "main";

.setting-modal{
  width: 100%;
  padding: 10px 15px;
}

.panel-course-view{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.panel-course-typename{
  width: 100%;
  float: left;
  height: 40px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 15px;
  position: relative;
  span:first-child{
    float: left;
    font-weight: bold;
    height: 40px;
    width: 100%;
    padding: 10px 15px;
  }
  span:last-child{
    float: right;
    height: 40px;
    width: 100px;
    text-align: right;
    padding: 10px 15px;
    font-size: 14px;
    color: #EF5A5A;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

.panel-table-view{
  margin: 0 0 0 0;
  width: 100%;
  float: left;
  padding: 0;
  list-style: none;
}

.panel-table-cell{
  font-size: 14px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f5f5f5;
  div{
    width: 40%;
    height: 40px;
    float: left;
    padding: 10px 0 0 40px;
  }
  span:nth-child(2){
    float: right;
    height: 40px;
    padding: 10px 15px;
  }
  span:nth-child(3){
    float: right;
    width: 40px;
    padding: 10px 0;
  }
}

.course-menu-icon{
  height: 40px;
  margin-right: 10px;
}