<!-- component -->
<template>
    <div id="container"></div>
    <div id="tip">
        <span id="result"></span>
    </div>
</template>

<!-- js -->
<script type="text/javascript" src="../src/amap.js"></script>

<!-- css -->
<style lang="less" src="../style/amap.less" scoped></style>

