<!-- component -->
<template>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background: #2b2a30;height: 55px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="nav-logo" src="../image/logo.png" v-link="{path: '/'}" />
            </div>
            <div id="navbar" class="navbar-collapse collapse" v-if="!isLogin">
                <div class="nav-select">
                    <img src="../image/logo.png" />
                    <span>Tony</span>
                    <i class="glyphicon glyphicon-triangle-bottom"></i>
                </div>
                <form class="navbar-form navbar-right navbar-form-main">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <div class="left-menu-main">
        <ul class="left-menu-table">
            <li class="left-menu-cell">
                <i class="glyphicon glyphicon-user"></i>用户管理
            </li>
            <li class="left-menu-cell">
                <i class="glyphicon glyphicon-list-alt"></i>机构管理
            </li>
            <li class="left-menu-cell">
                <i class="glyphicon glyphicon-knight"></i>活动
            </li>
            <li class="left-menu-cell">
                <i class="glyphicon glyphicon-stats"></i>统计
            </li>
            <li class="left-menu-cell">
                <i class="glyphicon glyphicon-cog"></i>设置
            </li>
        </ul>
    </div>
</template>

<!-- js -->
<script type="text/javascript">
    "use strict";
    module.exports = {
        data: function () {
            return {
                isLogin: true
            }
        },
        ready(){
            this.navbar();
        },
        methods: {
            navbar(){
                var path = this.$route.path;
                if(path == '/login'){
                    this.isLogin = true;
                }else{
                    this.isLogin = false;
                }
            }
        }
    };
</script>

<!-- css -->
<style lang="less" src="../style/main.less" scoped></style>